doctype html
html(lang="en")
  head
    title Webapp
    meta(charset='utf-8')
    link(rel="stylesheet", href="styles/style.css", type="text/css")
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css", type="text/css")
  body
    include partials/navbar
    #container
      h1 webapp boilerplate
      script(src="scripts/all.min.js")
    include partials/footer
