extends layout

block head
  link(rel="stylesheet", href="stylesheets/style.css", type="text/css")
  link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css", type="text/css")

block body
  include partials/navbar

  #container
    h1 webapp boilerplate

  include partials/footer
  script(src="scripts/all.min.js")
